APP_KEY=base64:VjHJUq9vKpLk5RBgqkTx7y6Kd6gF9ZzZw9Xj5iUUM5c=
DB_CONNECTION=pgsql
DB_HOST=coordinator
DB_PORT=5432
DB_DATABASE=social
DB_USERNAME=postgres
DB_PASSWORD=secret

# Master
#DB_MASTER_HOST=coordinator

# Slaves
#DB_SLAVE1_HOST=pgslave
#DB_SLAVE2_HOST=pgasyncslave